@charset "utf-8";
/*共通部分*/
html {
	font-size: 100%;
	}

body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
    color: #432;
}

img {
    max-width: 100%;
}

li {
	list-style: none;
}

.kakomi {
	margin: auto;
}

/*ヘッダ―*/
.page-header {
	box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 1);
	background-color: white;
	max-width: 100%;
	padding-right: 45px;
	text-align: center;
}

.logo {
	width: 220px;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.main-nav {
	display: flex;
	font-size: 1.25rem;
	margin-top: 20px;
	justify-content: center;
	list-style: none;
	text-transform: capitalize;
	padding-bottom: 20px;

}

.main-nav li {
	margin-left: 36px;
}

.main-nav a {
	color: #432;
}

.main-nav a:hover {
	opacity: 0.8;
	border-bottom: solid 2px #432;
}

/*大きな背景画像*/
.big-bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	min-height: 30vh;
	margin: 0 auto;
}

#home {
	background-image: url(img/page_top.jpg);
	margin-top: 10px;
}

/*見出し*/
.home-content {
	margin-bottom: 50px;
	margin-top: 110px;
	border-top: 1px solid #a9a9a9;
}

.page-title {
	font-size: 3rem;
	font-weight: normal;
	position: relative;
	top: -0.8em;
	display: block;
	max-width: 100%;
	margin: 0 auto 2rem;
	text-align: center;
}

.page-title span {
	display: inline-block;
	background: #fff;
}

/*Cafe説明文*/
.conteiner {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.home-img {
    width: 650px;
    max-width: 100%;
}

.home-box {
	width: 400px;
}

.home-text {
	margin-top: 32px;
}

#txt {
	font-size: 1rem;
	line-height: 2;
	letter-spacing: 2.2px;
}

.aid {
	margin-top: 15px;
}

/*トップページNEWSコンテンツ*/
.sec-title {
	font-size: 40px;
	padding-top: 40px;
	letter-spacing: 4px;
	line-height: 2;
	text-align: center;
	color: #432;
}

.line {
	width: 106px;
	height: 2px;
	margin: 0 auto;
	background-color: #432;
}

.list-contena {
	text-align: center;
}

.news-list {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 40px;
}

.news-contena {
	border: solid 0.8px #432;
	margin: 20px;
}

.news {
	list-style: none;
	color: #432;
	font-size: 1.5em;
}

.news-link img {
	width: 400px;
}

.news-link p {
	color: #432;
}

.day {
	padding-top: 50px;
	font-size: 25px;
}

.text {
	padding-top: 15px;
}

.txt {
	font-size: 1em;
}

.text2 {
	margin-top: 40px;
}

.text3 {

	padding-top: 13px;
}

.text-center {
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.btn-common {
	color: #fff;
	background-color: #432;
	font-size: 16px;
	text-decoration: none;
	padding: 20px 50px 20px;
	border-radius: 10px;
}
/*.btn-common {
	position: relative;
    display: inline-block;
	padding: 10px 10px 13px 0;
    font-size: 12px;
    line-height: 2.33;
    letter-spacing: 2.42px;
    color: #432;
}*/

/*.btn-common:after {
	bottom: 10px;
	padding: 3px 50px;
	transition: padding-right 0.3s;
	content: "";
    position: absolute;
    left: 0;
    border-style: solid;
    border-color: transparent #432 #432 transparent;
    -webkit-transform: skewX(47deg);
    -webkit-transform-origin: bottom left;
}*/

.btn-common:hover {
	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 2);
}

/*トップページメニュー領域*/
.menu-contena {
	margin-top: 100px;
}	

.top-lunch {
	width: 100%;
	margin-top: 30px;
	background-color: #f3f3f2;
	
}

.top-lunch h3 {
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
}

.mtxt {
	text-align: center;
	font-size: 12px;
	margin-top: 40px;
}

.ltxt {
	text-align: center;
	font-size: 15px;

}

.my-slider {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.lnc {
	padding: 20px;
}

/*トップページ文鳥紹介*/
.bun-img {
	width: 700px;
	margin: 0 auto;
	padding-top: 20px;
}

.buntxt {
	line-height: 4% 0;
}

/*アクセス領域*/
#location {
	padding: 4% 0;
}

#location .wrapper {
	display: flex;
}

.location-info {
	width: 22%;
}

.location-info p {
	padding: 12px 10px;
	margin-bottom: 30px;
    padding-left: 10px;
    font-size: 13px;
    line-height: 2.31;
    letter-spacing: 2.63px;
}
/*フッター領域*/
#footer {
	width: 100%;
    background-color: #432;
	text-align: center;
	margin-top:200px;
	padding-top: 40px;
	padding-bottom: 20px;
}

#footer_contact {
	margin-bottom: 40px;
}

#footer_contact img {
	width: 250px;
	margin-right: 55px;
}

.tel {
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 10px;
}

.contact {
  	width:300px;
	margin-left: auto;
	margin-right: auto;
  	font-size:16px;
  	text-decoration:none;
  	display:block;
  	text-align:center;
  	padding:20px 10px 20px;
  	color:#fff;
	border:1px solid #fff;
  	border-radius:5px;
	transition: 0.5s;
	margin-top: 40px;
}

.contact:hover {
	background-color:rgba(255, 255, 255, 0.3);
}

#sns {
	margin-bottom: 40px;
}

#sns i {
	color: #fff;
	padding-left: 15px;
}

#footer_navi {
margin-bottom: 80px;
}

#subnavi {
	padding: 0;
}

#subnavi li {
	list-style: none;
	display: inline;
	padding: 10px 10px;
}

#subnavi a {
	text-decoration: none;
	color:#fff;
}

/*上に戻るボタン*/
#pageTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#pageTop i {
  padding-top: 6px;
}

#pageTop a {
  display: block;
  z-index: 999;
  padding: 8px 8px 8px 8px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: #f08080;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

#pageTop a:hover {
  text-decoration: none;
  opacity: 0.7;
}

#pageTop p {
	color: pink;
}

small {
	color: #fff;
	font-size: 1em;
}
/*News画面CSS*/
.top-wrapper {
	background-image: url(img/news_top.jpg);
	margin-top: 50px;
}

.top-wrapper h2 {
	font-size: 80px;
}

/*記事部分*/
article {
	width: 74%;
}

.post-info {
	position: relative;
	padding-top: 30px;
	margin-bottom: 40px;
}

.post-date {
	background: #d2b48c;
	border-radius: 50%;
	color: #fff;
	width: 100px;
	height: 100px;
	font-size: 1.625rem;
	text-align: center;
	position: absolute;
	top: 0;
	padding-top: 10px;
	margin-top: 15px;
}


.post-date span {
	font-size: 1rem;
	border-top: 3px rgba(255,255,255,.5) solid;
	padding-top: 6px;
	display: block;
	width: 60px;
	margin: 0 auto;
}

.post-title {
	font-size: 1.5rem;
}

.post-title, 
.post-cat {
	margin-left: 120px;
}

article img {
	margin-bottom: 20px;
}

article p {
	margin-bottom: 1rem;
}

/*サイドバー*/
aside {
	width: 22%;
}

.sub-title {
	font-size: 1.375rem;
	padding: 0 8px 8px;
	border-bottom: 3px #d2b48c solid;
}

.sub-menu {
	margin-bottom: 60px;
	list-style: none;
}

.sub-menu li {
	border-bottom: 1px #ddd solid;
}

.sub-menu a {
	color: #432;
	padding: 10px;
	display: block;
}

.sub-menu a:hover {
	color: #d2b48c;
}

/*モバイル版*/
@media (max-width: 600px) {
	.page-title {
		font-size: 2.5rem;
	}

	/*header*/
	.page-header {
		flex-direction: column;
		align-items: center;
	}

	.main-nav {
		.font-size: 1rem;
		margin-top: 10px;
	}

	.main-nav li {
		margin: 0 20px;
	}

	/*home*/
	.home-content {
		margin-top: 20%;
	}

	/*news*/
	.news-contents {
		flex-direction: column;
	}

	.top-wrapper  {
		width: 100%;
	}

	.top-wrapper h2 {
		font-size: 50px;
	}

	article,
	aside {
		width: 100%;
	}

	.podt-info {
		margin-bottom: 30px;
	}

	.post-date {
		width: 70px;
		height: 70px;
		font-size: 1rem;
	}

	.post-date span {
		font-size: 1rem;
		padding-top: 2px;
	}

	.post-title {
		font-size: 1.3rem;
	}

	.post-cat {
		font-size: 1rem;
		margin-top: 10px;
	}

	.post-title,
	.post-cat {
		margin-left: 80px;
	}
}

/*メニューページ*/	
.menu-title {
	font-size: 60px;
	padding-bottom: 20px;
	text-align: center;
}

.food {
	padding: 10px;
}

#menu {
	padding: 30px;
}

.menu-txt {
	margin-left: 10px;
	font-size: 25px;
}

.type {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.type-contena {
	height: 500px;
	font-size: 3em;
	font-weight: bold;
	padding: 50px 25px;
	text-align: center;
}

/*お問い合わせページ*/
/*フォーム*/
/*.wrapper {
	text-align: center;
}*/

form div {
	margin-bottom: 14px;
}

label {
	font-size: 1.125rem;
	margin-bottom: 10px;
	display: block;
}

input[type="text"],
input[type="email"],
textarea {
	border: 1px black solid;
	border-radius: 5px;
	padding: 5px;
	font-size: 1rem;
}

input[type="text"],
input[type="email"] {
	width: 100%;
	max-width: 350px;
}

textarea {
	width: 100%;
	max-width: 400px;
	height: 6rem;
}

input[type="submit"] {
	border: none;
	cursor: pointer;
	line-height: 1;
}

.btn {
	font-size: 1.4rem;
	background: #d2b48c;
	border-radius: 10px;
	color:  white;
	padding: 15px 150px;
}

.btn:hover {
 	box-shadow: 4px 4px #ffc0cb;
}

/*モバイル版*/
@media (max-width: 600px) {
	/*contact*/
	#contact .page-title {
		margin-top: 40px;
	}

	/*フォーム*/
	input[type="text"],
	input[type="email"],
	textarea {
		max-width: 100%;
	}
}
































